<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title><%=title%></title>

  <style>
    body{
      background-color: #2A3F54 !important;
    }
  </style>

  <style media="screen" class="loading-page">

  html,body{
	margin: 0px;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
svg{
	width: 100%;
	height: 100%;
  background: #2A3F54;
}
.rotate-45{
	transform-origin: center;
	transform: rotate(45deg)
}
.rotate{
	transform-origin: center;
	animation: rotate 1s ease-in-out infinite;
}
.rotate-back{
	transform-origin: center;
	animation: rotate 1s ease-in-out infinite;
	animation-direction: reverse;
}
.left{
	animation: move 1s ease-in-out infinite;
}
.right{
	animation: move 1s ease-in-out infinite;
}

@keyframes rotate{
	100%{
		transform: rotate(calc(90deg + 45deg))
	}
}
@keyframes move{
	50%{
		transform: translate(-30px,-30px)
	}
}

.content-init{
  display: none;
}
.content-init.ready{
  display: inherit;
}
  </style>

</head>
<body>

  <svg class="loading-page"
  	 width="1000" height="1000" viewBox="0 0 1000 1000"
  	 xmlns="http://www.w3.org/2000/svg" version="1.1"
  	 xmlns:xlink="http://www.w3.org/1999/xlink">
  	<g transform="translate(500,500)">
  		<rect class="rotate-45 rotate-back" x=-5 y=-5 width=10 height=10 stroke="black" stroke-width=20 fill="none"/>
  		<rect class="rotate-45 rotate" x=-50 y=-50 width=100 height=100 stroke="black" stroke-width=20 stroke-linejoin="bevel" fill="none"/>
  		<g transform="translate(-50,0) rotate(-45)"><polyline class="left" points="40,-40 50,-50 -40,-50 -50,-40 -50,50 -40,40" stroke="black" stroke-width=20 fill="none"/></g>
  		<g transform="translate(50,0) rotate(135)"><polyline class="right" points="40,-40 50,-50 -40,-50 -50,-40 -50,50 -40,40" stroke="black" stroke-width=20 fill="none"/></g>
  		<text y=-140 text-anchor="middle" font-weight="bold" font-size="3em" font-family="sans-serif">loading...</text>
  	</g>
  </svg>


<div class="container content-init" ng-app="app" ng-controller="PruebaController as vm">
  <div class="total-content">

  <!-- menu nav -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">GoTask</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Buscar</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!-- total-content -->

  <div class="total-content">
    <div class="row">
      <div class="sticker-container">
        <div class="col-xs-12 col-sm-3 col-md-4">
          <div class="sticker">
            <div class="head-sticker">
              <h3>Hacer el curso de React JS</h3><small>Prioridad: Alta</small>
            </div>
            <div class="body-sticker">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="footer-sticker">
              <p>
                Tiempo estimado para culminacion o ejecucion <sub>El 14 de abril</sub>
              </p>
              <p>
                Recordatorio en <sub>3 dias con 4 horas</sub>
              </p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-4">
          <div class="sticker">
            <div class="head-sticker">
              <h3>Hacer el curso de React JS</h3><small>Prioridad: Alta</small>
            </div>
            <div class="body-sticker">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="footer-sticker">
              <p>
                Tiempo estimado para culminacion o ejecucion <sub>El 14 de abril</sub>
              </p>
              <p>
                Recordatorio en <sub>3 dias con 4 horas</sub>
              </p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-4">
          <div class="sticker">
            <div class="head-sticker">
              <h3>Hacer el curso de React JS</h3><small>Prioridad: Alta</small>
            </div>
            <div class="body-sticker">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="footer-sticker">
              <p>
                Tiempo estimado para culminacion o ejecucion <sub>El 14 de abril</sub>
              </p>
              <p>
                Recordatorio en <sub>3 dias con 4 horas</sub>
              </p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-4">
          <div class="sticker">
            <div class="head-sticker">
              <h3>Hacer el curso de React JS</h3><small>Prioridad: Alta</small>
            </div>
            <div class="body-sticker">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="footer-sticker">
              <p>
                Tiempo estimado para culminacion o ejecucion <sub>El 14 de abril</sub>
              </p>
              <p>
                Recordatorio en <sub>3 dias con 4 horas</sub>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="jumbotron">
        <h2>Aplicación COOL</h2>
        <p>Creador: {{vm.name}}</p>
        <p>{{vm.counter}}</p>
        <button class="btn btn-success" type="button" name="button"ng-click="vm.incrementar()">Incrementa contador</button>
        <div class="divider"></div>
        <div class="col-xs-12">
          <input ng-model="vm.mensaje" ng-init="vm.mensaje='Default'">
          <button type="button" name="button2" class="btn btn-primary" ng-click="vm.testAlert(vm.mensaje)">3 clcks para alerts</button>
        </div>
      </div>
    </div>
  </div>

  -->

  </div>
</div>

<script src="./js/bundle.js" charset="utf-8"></script>

</body>
</html>
