<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title><%=title%></title>

</head>
<body>

<div class="container" ng-app="app">
  <div class="row" ng-controller="PruebaController as ctr">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="jumbotron">
        <h2>Aplicación COOL</h2>
        <p>{{ctr.name}</p>
      </div>
    </div>
  </div>
</div>

<script src="./js/bundle.js" charset="utf-8"></script>

</body>
</html>
